{# This template renders the passed through movie records dictionary as a table, with: title, released year, and genre #}
{# First checks to see if returned records are more than zero, if yes: displays table, if no: gives message that no records to display #}
{% if movies.count() > 0 %}
<table>
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Released</th>
            <th>Genre</th>
        </tr>
    </thead>

    {% for movie in movies %}
    <tr>
        <td class="capitalize">
            <a href="{{url_for('view_movie', movie_id=movie._id)}}">
                {{movie.movie_name}}
            </a>
        </td>
        <td>{{movie.released if movie.released > 0 else '-'}}</td>
        <td>{{movie.genre}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p><em>No results found.</em></p>
{% endif %}
