{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12">
        <h4 class="capitalize">{{movie.movie_name}}</h4> 
        <a href="{{url_for('edit_movie', movie_id=movie._id)}}">Edit Record</a>
    </div>
</div>

<div class="row">
    <div class="col s12 m3 center-align">
        <img class="responsive-img thumbnail" src={{movie.art}}></img>
    </div>
    <div class="col s12 m9">
        <p><strong>Release Date: </strong>{{movie.released if movie.released > 0 else ''}}</p>
        <p><strong>Genre: </strong>{{movie.genre}}</p>
        <p><strong>Runtime: </strong>{{movie.runtime if movie.runtime > 0 else ''}}</p>
        <p><strong>Age Rating: </strong>{{movie.rating}}</p>
        <p><strong>Director: </strong>{{movie.director}}</p>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div style="white-space: pre-wrap;">{{movie.plot}}</div>
    </div>
</div>

<h5>Reviews</h5>
<div class="row">
    {% for review in movie.reviews %}
    <div class="col s12 review-header">
        <div class="row">
            <div class="col s12 m10">
                {{review.submitter}} on {{review.date}} 
            </div>
            <div class="col s12 m2">
                Score: {{review.score}}
            </div>
        </div>
    </div>
    <div class="col s12 review-body">
        {{review.review}}
    </div>
    {% endfor %}
</div>

<hr>
<p>Record Created: {{movie.meta.date_created.strftime('%Y-%b-%d %H:%M:%S') if movie.meta.date_created else '-'}}</p>
<p>Record Updated: {{movie.meta.date_updated.strftime('%Y-%b-%d %H:%M:%S') if movie.meta.date_updated else '-'}}</p>

<p><a href="{{url_for('remove_movie', movie_id=movie._id)}}">Remove Record</a></p>

{% endblock %}
